{# src/Callisto/FichesBundle/Resources/views/Resources/index/tbs.html.twig #}

{% if ((extTBs|length)+(intTBs|length)) > 0 %}
    <ul class="nav nav-tabs nav-stacked resources">
        {% for intTB in intTBs %}
            <li>
                <a href="{{ vich_uploader_asset(intTB, 'file') }}">
                    <h2 style="margin-bottom:-5px"><i class="fa fa-file-pdf-o"></i> {{ intTB.title }}</h2>
                    <p>{{ intTB.description }}</p>
                </a>
            </li>
        {% endfor %}
        {% for extTB in extTBs %}
            <li>
                <a href="{{ extTB.value }}">
                    <h2 style="margin-bottom:-5px"><i class="fa fa-file-pdf-o"></i> {{ extTB.title }} <i class="fa fa-external-link"></i></h2>
                    <p>{{ extTB.description }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucune bibliographie thématique</p>
{% endif %}
