{# src/Callisto/FichesBundle/Resources/views/Fiches/recherche_form.html.twig #}

{% extends "CallistoFichesBundle:Default:index.html.twig" %}

{% block callisto_content %}

<script type="text/javascript" src="http://elearning.unifr.ch/callisto/includes/js/selectToUISlider.jQuery.js"></script>
<link rel="stylesheet" href="http://elearning.unifr.ch/callisto/includes/css/ui.slider.extras.css" type="text/css" />

<script type="text/javascript">
$(function() {
  $('select#recherche_fiches_datefrom, select#recherche_fiches_dateto').selectToUISlider(
    {
      labels: 10
    }
  );
});
</script>
<style>.ui-slider {margin-top: 10px; margin-bottom: 30px;}
table.results {
  font-family:arial;
  background-color: #CDCDCD;
  margin:20px 0pt 0px;
  font-size: 8pt;
  width: 100%;
  text-align: left;
}
table.results thead tr th, table.results tfoot tr th {
  background-color: #F0F6F9;
  border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}
table.results thead tr .header {
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.results tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
}
/*FJ*/
table.results tbody tr div {
  color: #3D3D3D;
  padding: 0px;
  background-color: lightgray;
  vertical-align: top;
}

@media print {
  table.results tbody tr div {
    color: #3D3D3D;
    padding: 0px;
    background-color: lightgray;
    vertical-align: top;
  }
}

h2 {
  color: gray;
}

</style>

  <form method="post" {{ form_enctype(form) }}>

    <div align="left">
      <img src="{{ asset('bundles/callistofiches/images/icons/document_search.png') }}" alt="chercher une fiche">
    </div>
    <div align="center">
      <h1>Moteur de recherche</h1>
    </div>

    <br />

    <table>
      <thead>
        <tr>
          <th colspan="2" style="color:navy;"><strong>RECHERCHE PAR DATE</strong><br /></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
            {{ form_label(form.datefrom) }}
            {{ form_widget(form.datefrom) }}

            {{ form_label(form.dateto) }}
            {{ form_widget(form.dateto) }}
          </td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th colspan="2" style="color:navy;"><strong>RECHERCHE PAR MOTS</strong><br /></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
            <input type="text" size="90" class="form" name="mots">
            <br /><br />
          </td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th colspan="2" style="color:navy;"><strong>CULTURE / PERIODE</strong><br /></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
            {{ form_widget(form.periode) }}
            <br /><br />
          </td></tr>
      </tbody>

      <thead>
        <tr>
          <th colspan="2" style="color:navy;"><strong>CATEGORIE</strong><br /></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
            {{ form_widget(form.categorie) }}
            <br /><br />
          </td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th colspan="2" style="color:navy;"><strong>MATERIAU</strong><br /></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
            {{ form_widget(form.materiau) }}
            <br />
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    {{ form_widget(form._token) }}
    <input type="submit" value="Recherche" />
  </form>

  <div>
    <table>
        {% for fiche in fiches %}
          {% if loop.index0 is even %}
            <tr>
          {% endif %}
              <td width="50%">
                <table class="results">
                  <thead>
                    <tr>
                      <th colspan="2" align="center" width="100%">
                        <strong>
                          <a href="{{ path('fiche', { 'id': fiche.id }) }}" class="liste">
                            {{ fiche.titre }}
                          </a>
                        </strong>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td width="10%" height="120">
                        <a href="{{ path('fiche', { 'id': fiche.id }) }}" class="liste">
                          <img src="{% path fiche.image, 'thumb' %}" width="32" border="0">
                        </a>
                      </td>
                      <td>
                        {{ fiche.materiau }} [<strong>{{ fiche.dateFrom }}</strong> à <strong>{{ fiche.dateTo }}</strong>]
                        <p align="justify"><em>{{ fiche.description }}</em></p>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </td>
          {% if loop.index0 is odd %}
            </tr>
          {% endif %}
        {% else %}
          {% if resultat %}
            <li>Aucune fiche trouvée</li>
          {% endif %}
        {% endfor %}
    </table>
  </div>
{% endblock %}
