{# src/Callisto/FichesBundle/Resources/views/Default/rechercheavancee.html.twig #}

{% extends "CallistoFichesBundle:Default:index.html.twig" %}

{% block callisto_content %}

<script type="text/javascript" src="{{ asset('bundles/callistofiches/js/selectToUISlider.jQuery.js') }}"></script>

<link href="{{ asset('bundles/callistofiches/css/ui.slider.extras.css') }}" rel="stylesheet" type="text/css" />

<script type="text/javascript">
$(function() {
  $('select#rechercheavancee_datefrom, select#rechercheavancee_dateto').selectToUISlider(
    {
      labels: 10
    }
  );
});
</script>

<style>
    .ui-slider {margin-top: 10px; margin-bottom: 30px;}
    table.results {
      font-family:arial;
      background-color: #CDCDCD;
      margin:20px 0pt 0px;
      font-size: 8pt;
      width: 100%;
      text-align: left;
      border: 2px solid #CDCDCD;
    }
    table.results thead tr th, table.results tfoot tr th {
      background-color: #F0F6F9;
      border: 1px solid #CDCDCD;
      font-size: 8pt;
      padding: 4px;
    }
    table.results thead tr .header {
      background-image: url(bg.gif);
      background-repeat: no-repeat;
      background-position: center right;
      cursor: pointer;
    }
    table.results tbody td {
      color: #3D3D3D;
      padding: 4px;
      background-color: #FFF;
      vertical-align: top;
    }
    /*FJ*/
    table.results tbody tr div {
      color: #3D3D3D;
      padding: 0px;
      background-color: lightgray;
      vertical-align: top;
    }

    @media print {
      table.results tbody tr div {
        color: #3D3D3D;
        padding: 0px;
        background-color: lightgray;
        vertical-align: top;
      }
    }

    #label_handle_rechercheavancee_datefrom, #label_handle_rechercheavancee_dateto {
        width: 40px;
        float: left;
    }

    #rechercheavancee_datefrom, #rechercheavancee_dateto {
        width: 260px;
        float: left;
        margin-right: 10px;
    }

    .ui-slider {
        clear: both;
    }

    .navy {
        margin-bottom: 7px;
    }

    .navy strong {
        color: navy;
    }
</style>

<img src="{{ asset('bundles/callistofiches/images/icons/document_search.png') }}" alt="chercher une fiche">
<div align="center">
    <h1>Moteur de recherche</h1>
    <a href="{{ path('recherche') }}">Standard</a>&nbsp;|&nbsp;<strong>Avancé</strong>
</div>

<div>{% include 'shib.html.twig' %}</div>

<script type="text/javascript">
var cat = function(id, value) {
  select = '<select class="form" name="categorie_'+(id)+'" style="width:100%">';
  {% for cat in categories %}
  select = select + '<option value="{{ cat.id }}"';
  if(value == '{{cat.id}}') {
    select = select + ' selected="selected"';
  }
  select = select + '>{{ cat.nom }}</option>';
  {% endfor %}
  select = select + '</select>';
  return select;
}
var per = function(id, value) {
  select = '<select class="form" name="periode_'+(id)+'" style="width:100%">';
  {% for per in periodes %}
  select = select + '<option value="{{ per.id }}"';
  if(value == '{{per.id}}') {
    select = select + ' selected="selected"';
  }
  select = select + '>{{ per.nom }}</option>';
  {% endfor %}
  select = select + '</select>';
  return select;
}
var mat = function(id, value) {
  select = '<select class="form" name="materiau_'+(id)+'" style="width:100%">';
  {% for mat in materiaux %}
  select = select + '<option value="{{ mat.id }}"';
  if(value == '{{mat.id}}') {
    select = select + ' selected="selected"';
  }
  select = select + '>{{ mat.nom }}</option>';
  {% endfor %}
  select = select + '</select>';
  return select;
}



function deleteEntry(id) {
  var elements = document.getElementById('menuType0').getElementsByTagName('tr');
  //when we eliminate the first operator, remove the operand of the second operator
  if (elements[1].id == id) {
    var op = document.getElementById("logic_" + elements[2].id.substring(5));
    op.parentNode.removeChild(op);
  }
  //remove node
  var entry = document.getElementById(id);
  entry.parentNode.removeChild(entry);
  //do not allow to eliminate the last element: hide the button!
  checkVisibility();
}

function checkVisibility() {
  var elements = document.getElementById('menuType0').getElementsByTagName('tr');
  var numberOfElements = 0;
  for (var e = 0; e < elements.length; e++)
    if (elements[e] != '')
      numberOfElements++;
    if (elements.length == 2) {
      var lastID = elements[1].id.substring(5);
      document.getElementById("image" + lastID).style.visibility = "hidden";
    }else{
      var id;
      for (var e = 1; e < elements.length; e++) {
        id = elements[e].id.substring(5);
        document.getElementById("image" + id).style.visibility = "visible";
      }
    }
  }

  function createEntry() {
    var elements = document.getElementById('menuType0').getElementsByTagName('tr');
    var id = 0;
    if (elements.length > 1) {
      id = parseInt(elements[elements.length - 1].id.substring(5)) + 1;
    }
    var entry = document.createElement('tr');
    entry.id = "entry" + id;
    entry.style.verticalAlign="top";
  //logical operator
  var logic = document.createElement('td');
  entry.appendChild(logic);
  if (elements.length > 1) {
    var logicMenu = createSelect('logic_' + id, ["Et", "Ou", "Sauf"], null, null);
    logicMenu.name = 'logic_' + id;
    logic.appendChild(logicMenu);
  }
  //category
  var category = document.createElement('td');
  entry.appendChild(category);
  category.appendChild(createSelect('cat' + id, ["Fiche n°", "Catégorie", "Période", "Matériau", "Titre", "Description", "Provenance", "Lieu de conservation"], "keywordCell" + id));
  //field
  var field = document.createElement('td');
  field.id = "keywordCell" + id;
  entry.appendChild(field);
  var input = document.createElement('input');
  input.className = "form";
  input.name = "id_cat" + id;
  input.style.width="100%";
  input.type = "text";
  field.appendChild(input);
  //remove
  var remove = document.createElement('td');
  entry.appendChild(remove);
  var image = document.createElement('img');
  image.id = "image" + id;
  remove.align = "right";
  remove.appendChild(image);
  image.src = "{{ asset('bundles/callistofiches/images/micro_delete.png') }}";
  image.className = "buttonImage";
  image.onclick = function() {
    deleteEntry(entry.id);
  };
  //append new entry
  document.getElementById('menuType0').appendChild(entry);
  checkVisibility();
}

function updateKeywordField(type, id, parentId) {
  if (type == "Catégorie" || type == "Période" || type == "Matériau") {
    var node = document.getElementById(parentId);
    if (type == "Catégorie") {
      node.innerHTML = cat(id);
    }
    else if (type == "Période") {
      node.innerHTML = per(id);
    }
    else {
      node.innerHTML = mat(id);
    }
  }else{
    if (type == "Fiche n°")
      type = 'id';
    else if (type == "Titre")
      type = 'titre';
    else if (type == "Description")
      type = 'description';
    else if (type == "Provenance")
      type = 'provenance';
    else if (type == "Lieu de conservation")
      type = 'region';
    else
      type = 'region';
    document.getElementById(parentId).innerHTML = '<input class="form" type="text" name="' + type + "_" + id + '" style="width:100%;">';
  }
}

function createSelect(id, values, target) {
  var select = document.createElement('select');
  select.className = "form";
  select.id = id;
  select.size=1;
  select.style.width="100%";
  if (target != null) {
    select.onchange = function() {
      updateKeywordField(select.options[select.selectedIndex].value, id, target);
    };
  }
  var option;
  for (var i = 0; i < values.length; i++) {
    option = document.createElement('option');
    if (i == 0)
      option.selected = "selected";
    option.innerHTML = values[i];
    select.appendChild(option);
  }
  return select;
}

function resetQuery() {
  var elements = document.getElementById('menuType0').getElementsByTagName('tr');
  createEntry();
  for (var i = elements.length; i > 0; i--) {
    deleteEntry(elements[1].id);
  }
}
</script>

<form method="post" action="{{ path('rechercheavancee') }}">
  <table  style="width:100%" align="center" cellspacing="3px" cellpadding="3px">
    <tr>
      <td class="searchByLabel"><h2>Composez vos critères de recherche</h2></td>
    </tr>
    <tr>
      <td>
        <div id="container0">

            <div class="row-fluid navy">
                <div class="span12">
                    <br />
                    {{ form_label(form.datefrom) }}
                    {{ form_widget(form.datefrom) }}

                    {{ form_label(form.dateto) }}
                    {{ form_widget(form.dateto) }}
                </div>
            </div>

          <table style="width:100%;" cellspacing="5px" id="menuType0">
            <tr>
              <td class="searchBySecondLevelLabel" style="width:15%;">Crit&egrave;re</td>
              <td class="searchBySecondLevelLabel" style="width:40%;">Chercher dans</td>
              <td class="searchBySecondLevelLabel" style="width:40%;">Mot-clé</td>
              <td class="searchBySecondLevelLabel" style="width:5%;"></td>
            </tr>
        {% set count = 0 %}
        {% for k,v in rechercheavancee_data %}
            {% set rank = count // 6 %}
            {% if count is odd %}
                {% set nextrank = rank + 1 %}
                {% set logic = '<select id="logic_' ~ nextrank ~ '" class="form" size="1" style="width: 100%;" name="logic_' ~ nextrank ~ '"><option' %}
                {% if attribute(v, 'value') == 'Ou' %}
                    {% set logic = logic ~ ' selected="selected"' %}
                {% endif %}
                {% set logic = logic ~ '>Ou</option><option' %}
                {% if attribute(v, 'value') == 'Et' %}
                    {% set logic = logic ~ ' selected="selected"' %}
                {% endif %}
                {% set logic = logic ~ '>Et</option><option' %}
                {% if attribute(v, 'value') == 'Sauf' %}
                    {% set logic = logic ~ ' selected="selected"' %}
                {% endif %}
                {% set logic = logic ~ '>Sauf</option></select>' %}
            {% else %}
            <tr id="entry{{ rank }}" style="vertical-align: top;">
                <td>
                    {% if count != 0 %}
                        {{ logic|raw }}
                    {% endif %}
                </td>
                <td>
                    <select id="cat{{ rank }}" class="form" size="1" style="width: 100%;" onchange="updateKeywordField(options[selectedIndex].value, 'cat{{ rank }}', 'keywordCell{{ rank }}' );">
                        <option {% if (attribute(v, 'field') == 'id' ) %} selected="selected"{% endif %}>Fiche n°</option>
                        <option {% if (attribute(v, 'field') == 'categorie' ) %} selected="selected"{% endif %}>Catégorie</option>
                        <option {% if (attribute(v, 'field') == 'periode' ) %} selected="selected"{% endif %}>Période</option>
                        <option {% if (attribute(v, 'field') == 'materiau' ) %} selected="selected"{% endif %}>Matériau</option>
                        <option {% if (attribute(v, 'field') == 'titre' ) %} selected="selected"{% endif %}>Titre</option>
                        <option {% if (attribute(v, 'field') == 'description' ) %} selected="selected"{% endif %}>Description</option>
                        <option {% if (attribute(v, 'field') == 'provenance' ) %} selected="selected"{% endif %}>Provenance</option>
                        <option {% if (attribute(v, 'field') == 'region' ) %} selected="selected"{% endif %}>Lieu de conservation</option>
                    </select>
                </td>
                <td id="keywordCell{{ rank }}">
                    {% if ( attribute(v, 'field') == 'categorie' ) %}
                        <script type="text/javascript"> document.getElementById('keywordCell{{ rank }}').innerHTML = cat('cat{{ rank }}', {{ attribute(v, 'value') }});</script>
                    {% elseif ( attribute(v, 'field') == 'periode' ) %}
                        <script type="text/javascript"> document.getElementById('keywordCell{{ rank }}').innerHTML = per('cat{{ rank }}', {{ attribute(v, 'value') }});</script>
                    {% elseif ( attribute(v, 'field') == 'materiau' ) %}
                        <script type="text/javascript"> document.getElementById('keywordCell{{ rank }}').innerHTML = mat('cat{{ rank }}', {{ attribute(v, 'value') }});</script>
                    {% else %}
                    <input class="form" type="text" name="{{ attribute(v, 'field') }}_cat{{ rank }}" style="width: 100%;" value="{{ attribute(v, 'value') }}">
                    {% endif %}
                </td>
                <td align="right">
                    <img id="image{{ rank }}" class="buttonImage" src="{{ asset('bundles/callistofiches/images/micro_delete.png') }}" style="visibility: visible;" onclick="deleteEntry('entry{{ rank }}');">
                </td>
            </tr>
            {% endif %}
            {% set count = count + 3 %}
        {% endfor %}
          </table>
          <table style="width:100%;">
            <tr>
              <td width="20%">
                <div class="buttonImage" style="width:150px;margin:10px 10px;"onclick="createEntry();">
                  <img src="{{ asset('bundles/callistofiches/images/mini_add.png') }}"> Ajouter crit&egrave;re
                </div>
              </td>
              <td width="20%">
                <div class="buttonImage" style="width:150px;margin:10px 10px;"onclick="resetQuery();">
                  <img src="{{ asset('bundles/callistofiches/images/clear.png') }}"> Effacer requête
                </div>
              </td>
              <td width="60%" align="right">
                <input class="btn btn-primary btn-small" value="Chercher" type="submit" name="searchEntry" />
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</form>
{% if rechercheavancee_data|length == 0 %}<script type="text/javascript">createEntry();</script>{% endif %}

    {% if fiches|length > 0 %}
    <h1>Résultats de la recherche avancée</h1>

  <div class="container-fluid">
        Nb de résultats: {{ fiches|length }}
        {% for fiche in fiches %}
          {% if loop.index0 is even %}
            <div class="row-fluid navy">
          {% endif %}
              <div class="span6">
                <table class="results">
                  <thead>
                    <tr>
                      <th colspan="2" align="center" width="100%">
                        <strong>
                          <a href="{{ path('fiche', { 'id': fiche.id, 'form': nav_type }) }}" class="liste">
                            Fiche n°{{ fiche.id }} : {{ fiche.titre }}
                          </a>
                        </strong>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      {% if shib %}
                        <td width="10%" height="120">
                          <a href="{{ path('fiche', { 'id': fiche.id }) }}" class="liste">
                            <img src="{% path fiche.image, 'thumb' %}" width="32" border="0">
                          </a>
                        </td>
                      {% endif %}
                      <td>
                        {{ fiche.materiau }} [<strong>{{ fiche.dateFrom }}</strong> <C3><A0> <strong>{{ fiche.dateTo }}</strong>]
                        <p align="justify"><em>{{ fiche.description|raw }}</em></p>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
          {% if loop.index0 is odd %}
            </div>
          {% endif %}

        {% else %}
          {% if fiches|length == 0 %}
          <div class="span12">
            <div class="well">
                <h3>Aucune fiche trouvée</h3>
            </div>
          </div>
          {% endif %}
        {% endfor %}
    </div>
  </div>
  {% endif %}
{% endblock %}
